<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MageMaclean_Core::magemaclean" title="MageMaclean Extensions" sortOrder="45">
                    <resource id="MageMaclean_Core::configuration" title="Core Configuration" sortOrder="999"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
