<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageMaclean_Core::magemaclean" 
            title="MageMaclean" 
            module="MageMaclean_Core" 
            sortOrder="60" 
            resource="MageMaclean_Core::magemaclean" />
        
        <add id="MageMaclean_Core::general" 
            title="Core" 
            module="MageMaclean_Core" 
            sortOrder="999" 
            parent="MageMaclean_Core::magemaclean" 
            resource="MageMaclean_Core::magemaclean" />

        <add id="MageMaclean_Core::configuration" 
            title="Configuration" 
            module="MageMaclean_Core" 
            sortOrder="10" 
            action="adminhtml/system_config/edit/section/magemaclean" 
            parent="MageMaclean_Core::general" 
            resource="MageMaclean_Core::configuration" />
    </menu>
</config>
